/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

button {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    cursor: pointer;
}

button:hover {
    box-shadow: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
}

th,
td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}

thead {
    background: var(--second-bg-color);
    color: var(--text-color);
}

tbody tr:nth-of-type(odd) {
    background: var(--bg-color);
}

tbody tr:nth-of-type(even) {
    background: var(--second-bg-color);
    color: var(--text-color);
}

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
}